body{
    height: 100vh;
    background-color:#E8F1F5 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: white;
    width: 1250px;
    height: 470px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

h1{
    font-family: 'montserrat', sans-serif;
}

p{
    font-family: 'lato', sans-serif;

}

#text{
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    height: 100%;
    padding: 30px;
}

#text h1{
    font-size: 40px;
    font-weight: 700;
}

#questions{
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    justify-content: center;
    font-size: 15px;
    padding-left: 10px;
}

#questions div{
    padding-right: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    
}

#questions div img{
    margin-left: auto;
    width: 21px;
    height: 21px;
    image-rendering: auto; 
}

hr{
    left: 0;
    width: 90%;
    height: 1px;
    background-color: #9696963b;
    border: none;
}

button{

}